<div class="page-header">
  <h3>Survey Resposne #<%= @survey_resposne.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Q1</dt>
      <dd><%= @survey_resposne.q1 %></dd>

      <dt>Q2</dt>
      <dd><%= @survey_resposne.q2 %></dd>

      <dt>Q3</dt>
      <dd><%= @survey_resposne.q3 %></dd>

      <dt>Q4</dt>
      <dd><%= @survey_resposne.q4 %></dd>

      <dt>Q5</dt>
      <dd><%= @survey_resposne.q5 %></dd>

      <dt>Q6</dt>
      <dd><%= @survey_resposne.q6 %></dd>

      <dt>Q7</dt>
      <dd><%= @survey_resposne.q7 %></dd>

      <dt>Q8</dt>
      <dd><%= @survey_resposne.q8 %></dd>

      <dt>Q9</dt>
      <dd><%= @survey_resposne.q9 %></dd>

      <dt>Q10</dt>
      <dd><%= @survey_resposne.q10 %></dd>

      <dt>Q11</dt>
      <dd><%= @survey_resposne.q11 %></dd>

      <dt>Q12</dt>
      <dd><%= @survey_resposne.q12 %></dd>

      <dt>A1a</dt>
      <dd><%= @survey_resposne.A1a %></dd>

      <dt>A2b</dt>
      <dd><%= @survey_resposne.A2b %></dd>

      <dt>A3g</dt>
      <dd><%= @survey_resposne.A3g %></dd>

      <dt>C1a</dt>
      <dd><%= @survey_resposne.C1a %></dd>

      <dt>C2a</dt>
      <dd><%= @survey_resposne.C2a %></dd>

      <dt>C3a</dt>
      <dd><%= @survey_resposne.C3a %></dd>

      <dt>C3b</dt>
      <dd><%= @survey_resposne.C3b %></dd>

      <dt>C3c</dt>
      <dd><%= @survey_resposne.C3c %></dd>

      <dt>C3d</dt>
      <dd><%= @survey_resposne.C3d %></dd>

      <dt>C3e</dt>
      <dd><%= @survey_resposne.C3e %></dd>

      <dt>C3f</dt>
      <dd><%= @survey_resposne.C3f %></dd>

      <dt>C3g</dt>
      <dd><%= @survey_resposne.C3g %></dd>

      <dt>C4</dt>
      <dd><%= @survey_resposne.C4 %></dd>

      <dt>C5</dt>
      <dd><%= @survey_resposne.C5 %></dd>

      <dt>C6</dt>
      <dd><%= @survey_resposne.C6 %></dd>

      <dt>C7</dt>
      <dd><%= @survey_resposne.C7 %></dd>

      <dt>I1</dt>
      <dd><%= @survey_resposne.I1 %></dd>

      <dt>I2a</dt>
      <dd><%= @survey_resposne.I2a %></dd>

      <dt>I2b</dt>
      <dd><%= @survey_resposne.I2b %></dd>

      <dt>I2c</dt>
      <dd><%= @survey_resposne.I2c %></dd>

      <dt>I2d</dt>
      <dd><%= @survey_resposne.I2d %></dd>

      <dt>I2e</dt>
      <dd><%= @survey_resposne.I2e %></dd>

      <dt>I2f</dt>
      <dd><%= @survey_resposne.I2f %></dd>

      <dt>I2g</dt>
      <dd><%= @survey_resposne.I2g %></dd>

      <dt>I2h</dt>
      <dd><%= @survey_resposne.I2h %></dd>

      <dt>I2i</dt>
      <dd><%= @survey_resposne.I2i %></dd>

      <dt>I2j</dt>
      <dd><%= @survey_resposne.I2j %></dd>

      <dt>I2k1</dt>
      <dd><%= @survey_resposne.I2k1 %></dd>

      <dt>I2k2</dt>
      <dd><%= @survey_resposne.I2k2 %></dd>

      <dt>J1altext</dt>
      <dd><%= @survey_resposne.J1aLtext %></dd>

      <dt>J2a</dt>
      <dd><%= @survey_resposne.J2a %></dd>

      <dt>J2b</dt>
      <dd><%= @survey_resposne.J2b %></dd>

      <dt>J2c</dt>
      <dd><%= @survey_resposne.J2c %></dd>

      <dt>J2d</dt>
      <dd><%= @survey_resposne.J2d %></dd>

      <dt>J2e</dt>
      <dd><%= @survey_resposne.J2e %></dd>

      <dt>J2f</dt>
      <dd><%= @survey_resposne.J2f %></dd>

      <dt>J2g</dt>
      <dd><%= @survey_resposne.J2g %></dd>

      <dt>J2h</dt>
      <dd><%= @survey_resposne.J2h %></dd>

      <dt>J2i</dt>
      <dd><%= @survey_resposne.J2i %></dd>

      <dt>J2j</dt>
      <dd><%= @survey_resposne.J2j %></dd>

      <dt>J2k1</dt>
      <dd><%= @survey_resposne.J2k1 %></dd>

      <dt>J2k2</dt>
      <dd><%= @survey_resposne.J2k2 %></dd>

      <dt>K1a</dt>
      <dd><%= @survey_resposne.K1a %></dd>

      <dt>K2a</dt>
      <dd><%= @survey_resposne.K2a %></dd>

      <dt>K3a</dt>
      <dd><%= @survey_resposne.K3a %></dd>

      <dt>K4a</dt>
      <dd><%= @survey_resposne.K4a %></dd>

      <dt>K5a</dt>
      <dd><%= @survey_resposne.K5a %></dd>

      <dt>K6a</dt>
      <dd><%= @survey_resposne.K6a %></dd>

      <dt>K7a</dt>
      <dd><%= @survey_resposne.K7a %></dd>

      <dt>L1a</dt>
      <dd><%= @survey_resposne.L1a %></dd>

      <dt>L1b</dt>
      <dd><%= @survey_resposne.L1b %></dd>

      <dt>L2</dt>
      <dd><%= @survey_resposne.L2 %></dd>

      <dt>L3</dt>
      <dd><%= @survey_resposne.L3 %></dd>

      <dt>L4a</dt>
      <dd><%= @survey_resposne.L4a %></dd>

      <dt>L4b</dt>
      <dd><%= @survey_resposne.L4b %></dd>

      <dt>L4c</dt>
      <dd><%= @survey_resposne.L4c %></dd>

      <dt>M1</dt>
      <dd><%= @survey_resposne.M1 %></dd>

      <dt>M2</dt>
      <dd><%= @survey_resposne.M2 %></dd>

      <dt>M3</dt>
      <dd><%= @survey_resposne.M3 %></dd>

      <dt>M3a</dt>
      <dd><%= @survey_resposne.M3a %></dd>

      <dt>M4</dt>
      <dd><%= @survey_resposne.M4 %></dd>

      <dt>M5</dt>
      <dd><%= @survey_resposne.M5 %></dd>

      <dt>Qe1</dt>
      <dd><%= @survey_resposne.qe1 %></dd>

      <dt>Qe2</dt>
      <dd><%= @survey_resposne.qe2 %></dd>

      <dt>Qe3</dt>
      <dd><%= @survey_resposne.qe3 %></dd>

      <dt>Qe4</dt>
      <dd><%= @survey_resposne.qe4 %></dd>

      <dt>Qe5</dt>
      <dd><%= @survey_resposne.qe5 %></dd>

      <dt>Qe6</dt>
      <dd><%= @survey_resposne.qe6 %></dd>

      <dt>Qe7</dt>
      <dd><%= @survey_resposne.qe7 %></dd>

      <dt>Qe8</dt>
      <dd><%= @survey_resposne.qe8 %></dd>

      <dt>Qe9</dt>
      <dd><%= @survey_resposne.qe9 %></dd>

      <dt>Qe10</dt>
      <dd><%= @survey_resposne.qe10 %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/survey_resposnes" class="btn btn-primary">
        Back
      </a>
      <a href="/survey_resposnes/<%= @survey_resposne.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_survey_resposne/<%= @survey_resposne.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
